body{

    background-color: #F6F6F6;

}


h2{

    font-size: 4vw;

    font-family: 'Rubik', sans-serif;

    text-align: center;
    color: rgb(109, 109, 109);


    text-align: center;

}

h3{

    font-size: 1.5vw;
    overflow-wrap: break-word;
    font-family: 'Rubik', sans-serif;

    color: rgb(109, 109, 109);

    text-align: center;

}

li{

    font-size: 2vw;
    overflow-wrap: break-word;
    font-family: 'Rubik', sans-serif;

    color: rgb(109, 109, 109);

}

.Content{

    all:initial;

    position: absolute;
    width: 20%;
    transform: translate(-50%, -50%);
    left: 50%; top: 50%;

    background-color: white;

    border-radius: 1vw;
    padding: 1vw;

    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));

}


a{


    
    position: absolute;

    background-color: #00c7e6;

    width: 38vw;
    height: 6vh;

    line-height: 6vh;

    left: 5%;
    top: 72%;

    border-radius: 1vw;
    padding: 1vw;

    color: white;
    font-size: 1.5vw;

    text-align: center;
    vertical-align: middle;

    font-family: 'Rubik', sans-serif;

    text-decoration: none;

}
